/* body{
  background: url(../assets/b1.jpg);
  text-align: center;
}
form,h1{
  text-align: center;
}
#login{
  margin-top: 15%;
  background-color: #fff;
  width: 50%;
  text-align: center;
margin-left: 25%;
}
 */
